body{
    background-color: rgb(209, 239, 229);
}
#container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 150px 1fr 1fr;
}
main,header,footer{
    border: 1px solid;
    border-color: skyblue;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
main{
    grid-area: main;
}
#div1{
    background-color: white;
    height: 80vh;
}
#div2{
    padding: 50px;
}
form{
    display: grid;
    place-content: center;
}