body{
    font-family: 'Koulen', cursive;
}
#container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav content content"
    "nav footer footer";
    grid-gap: 2px;
    grid-template-columns: 180px auto auto;
    position: relative;
}
header,footer,nav,aside{
    background-color: rgb(28, 26, 26);
}
header{
    grid-area: header;
    color: #fff;
}
#header_lists{
    flex-wrap: wrap;
}
main{
    grid-area:content;
    background-image: url("https://c1.wallpaperflare.com/preview/65/676/862/sticker-wall-color-paper-decoration.jpg");
}
#content_lists{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_items{
    width: 250px;
    height: 400px;
    box-shadow: rgb(0, 0, 0) 0px 0px 30px 10px;
    border: rgb(216, 0, 0) 3px solid;
    margin: 20px 20px;
}
nav{
    grid-area: nav;
}
select{
    width: 180px;
    font-size: larger;
    background-color:#fff;
}
select:hover{

}
footer{
    grid-area: footer;
}
