/*     <header class = "web">Head</header>
    <nav class = "web">navigation</nav>
    <main class = "web">content</main>
    <aside class = "web">sidebar</aside>
    <footer class = "web">footer</footer>
*/
/*header,aside,nav,footer,main{
    background-color: steelblue;
    border-color: skyblue;
    border-style:solid;
    border-width: 1.6px;
}
body{
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
    "header header header"
    "nav content sidebar"
    "nav footer footer"
     ;
     grid-template-columns: 1fr 4fr 0.8fr;
     grid-gap: 5px;
}
header{
    grid-area: header;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px;
}
nav{
    grid-area: nav;
}
main{
    grid-area: content;

} 
box-shadow: rgb(22, 21, 21) 0px 0px 40px 1px;
border-radius: 30px;
text-shadow:rgb(14, 13, 13) 8px 0px 9px;
footer{
      
       grid-area: footer;
}*/
article{
    display: flex;
    align-items: center;
    justify-content: center;
}